#default routing
RewriteEngine On
#when try to access real file
#RewriteCond %{REQUEST_FILENAME} -f
#RewriteRule ^(.*)$index.php?rt=$1 [L,QSA]

#RewriteCond %{REQUEST_FILENAME} !-f [OR]
#when try to access real directory
#RewriteCond %{REQUEST_FILENAME} -d
#RewriteRule ^([a-zA-Z0-9/\?\#&_=]*)$ index.php?rt=$1 [L,QSA]
RewriteRule ^(.*$)$ index.php?rt=$1 [L,QSA]
#disable directory browser
Options All -Indexes

